<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mba.busapp">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_mba2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_logo1"
        android:supportsRtl="true"
        android:theme="@style/Theme.BusApp">
        <activity
            android:name=".BusSelectActivity"
            android:exported="false" />

        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="p4xiv96tkc" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.BusApp.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BusRouteActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.BusApp.NoActionBar"></activity>
        <activity
            android:name=".BusSearchActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.BusApp.NoActionBar"></activity>
        <activity
            android:name=".BusResultActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.BusApp.NoActionBar"></activity>
        <activity
            android:name=".BusTableView"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.BusApp.NoActionBar"></activity>
    </application>

</manifest>